// Specific CSS for your home-page
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0 10vw;

  h1 { font-size: 3em; }
  p {
    font-size: 1.5em;
    text-align: center;
  }
}

.tagline {
  margin-bottom: 30px;
}

#page-two {
  width: 95vw;
}

.intro {
  margin-bottom: 30px;
}

.paragraph-intro {
  margin: 60px 0px 60px 0px;
}

// Headline Illumninate animation

.headline {
  position: relative;
}

.letter {
  font-size: 100px;
}

.headline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transition: width 0.5s ease-out;
}

.letter {
  display: inline-block;
  opacity: 0;
  color: #000000;
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}
