.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 0vw;

  h1 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 1.5em;
    text-align: center;
  }

  .wave-container {
    position: relative;
    #intro-box {
      position: absolute;
      top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      text-align: center;
      color: white;
      padding: 0 8vw;
    }
    .btn.btn-light:hover {
      background-color: rgb(255, 255, 255);
    }
  }

  .download-btn {
    margin-bottom: 5em;
  }

.tagline {
  margin-bottom: 30px;
}

.intro {
  margin-bottom: 30px;
}

.paragraph-intro {
  margin: 60px 0px 60px 0px;
}

// Headline Illumninate animation

.headline {
  position: relative;
  padding-top: 10vh;
}

.headline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transition: width 0.5s ease-out;
}

.letter {
  display: inline-block;
  opacity: 0;
  color: #000000;
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}


// Screen size adaptable

  @media (max-width: 768px) {
    h1 {
      font-size: 4em;
      font-stretch: condensed;
    }

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.5em;
    }
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 2.5em;
      font-stretch: extra-condensed;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
  }

  @media (max-width: 400px) {
    h1 {
      font-size: 2.5em;
      font-stretch: extra-condensed;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
  }
}
