// Import page-specific CSS files here.
@import "home";
@import "products_new";
@import "products_show";
@import "user_favorites";


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 { font-weight: bold; }

h1 { font-size: 2.75em; }

h2 { font-size: 2em; }
