// Import page-specific CSS files here.
@import "home";
@import "products_new";
@import "products_show";
@import "user_favorites";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
}

h1, h2 { font-weight: bold; }

h1 { font-size: 2.75em; }

h2 { font-size: 2em; }

#error-page {
  h1 { margin-top: -8vh; }
  h2 { margin-bottom: 3vh; }
}
