.product-img{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .favorite-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    #favorite-heart {
      align-self: center;
      text-decoration: none;
      margin-top: -3vh;
      font-size: 3.5em;
      color:#F16767;
      &:hover {
        color:#fb8eb6
      }
    }
    p {
      text-decoration:none;
      color:#F16767;
      &:hover {
        color:#fb8eb6
      }
    }
    #favorited-heart {
      align-self: center;
      text-decoration: none;
      margin-top: -3vh;
      font-size: 3.5em;
      color:#fb8eb6
    }
    #favorited-text{
      color:#fb8eb6
    }
  }
}

.product-details {
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 24px;
}

ul.product-menu {
  list-style-type: none;
  columns: 2;
  padding-left: 0;
  margin: 1em -1.5em;
  li {
    display: inline-block;
    padding: 8px 17px;
  }
  a.btn.btn-primary {
    background: linear-gradient(176deg, rgba(13,110,253,1) 43%, rgba(15,105,237,1) 100%);
    width: 182px;
    margin: .5em 0;
  }
}
a.btn.btn-primary {
  background: linear-gradient(176deg, rgba(13,110,253,1) 43%, rgba(15,105,237,1) 100%);
  width: 170px;
  height: auto;
  margin: .5em;
}
