.favorite-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5em;
  align-items:center;
  justify-content: center;

  .card {
    border: none;
    border-radius: 3em;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 360px;

    &:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,.05);
    }
    &:active {
      box-shadow: none;
    }
  }
}

.card-title,
.card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .favorite-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

@media (max-width: 415px) {
  .favorite-cards {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
