.favorite-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;

  .card {
    border: none;
    border-radius: 3em;
    margin: .5em;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    width: 376px;

    &:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,.05);
    }
    &:active {
      box-shadow: none;
    }
  }
}



.card-title,
.card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
