<div class="container">
  <div id="page-one" class="homepage">
    <h1 class="headline">
      <span class="letter">I</span>
      <span class="letter">l</span>
      <span class="letter">l</span>
      <span class="letter">u</span>
      <span class="letter">m</span>
      <span class="letter">i</span>
      <span class="letter">n</span>
      <span class="letter">a</span>
      <span class="letter">t</span>
      <span class="letter">e</span>
    </h1>

    <h2 class="text-center tagline">Enhancing the beauty journey for all.</h2>
    <button type="button" class="btn btn-dark rounded-sm learn-btn">Learn more</button>
  </div>
  <div id="page-two" class="homepage">
    <div class="intro">
      <p class="paragraph-intro" data-sr="enter left, move 30px, over 1s, wait 0.7s">Illuminate provides a way for those who are visually-impaired
      to discover beauty products using a quick scan from their mobile device.</p>

      <p class="paragraph-intro" data-sr="enter left, move 30px, over 1s, wait 0.7s">Once scanned, users can listen to a product summary including its
      description, price and ingredients list. If they like what they hear,
      that can save the product to their account.</p>

      <p class="paragraph-intro" data-sr="enter left, move 30px, over 1s, wait 0.7s">If a user needs assistance, they can call the beauty store directly
      from the app to speak with an employee.</p>
    </div>

    <button type="button" class="btn btn-dark rounded-sm download-btn">Download the app</button>
  </div>
</div>
