<div class="container">
  <%= image_tag "no-wifi.png", width: 60, height: 60, atl: "Image of disconnected wifi symbol"%>
  <h3>Oh no! You're offline. We'll wait until you're connected again.</h3>
</div>
