<div class="container-fluid">
<div style='margin: 40px auto; width: 60vw'>
<h1 class="text-center m-3">Privacy Policy</h1>
<p class="text-justify">
Thank you for using Illuminate. This privacy policy outlines how we collect, use, protect, and share your personal information in connection with your use of our web application.
</p>

<div class="text-justify py-4">
<h2>1. Introduction</h2>
<p>
Illuminate is a web application that allows users to save and browse their favorite beauty products. By using our application, you agree to the terms and conditions of this privacy policy.
Illuminate is accessible at the following link: <a href='https://illuminate-y4wh.onrender.com'>https://illuminate-y4wh.onrender.com </a>
</p>

<h2 style='padding-top: 40px'>2. Information we collect</h2>
<p>
We collect only the information necessary for user login purposes, which includes email address and password.
We collect this information through Facebook, Google login or a simple login form.
</p>

<h2 style='padding-top: 40px'>3. How we use your information</h2>
<p>
We use the information you provide solely for login purposes and to allow you to save your favorite beauty products.
We do not share your information with any third-party providers, unless it is part of the conditions for Google or Facebook login.
We do not use your information for any other purpose.
</p>

<h2 style='padding-top: 40px'>4. Protection of your information</h2>
<p>
We take reasonable measures to protect your personal information from unauthorized access, alteration, or disclosure.
We use industry-standard security protocols to safeguard your information.
</p>

<h2 style='padding-top: 40px'>5. Retention or deletion of your information</h2>
<p>
We keep your personal information as long as you keep your account active.
You may delete your account at any time, and your personal information will be permanently deleted from our system.
You can delete your account in the login section of the website.

</p>


<h2 style='padding-top: 40px'>6. Changes to this Policy</h2>
<p>
We reserve the right to update this privacy policy at any time. We encourage you to periodically review this privacy policy for any changes.
</p>


<h2 style='padding-top: 40px'>7. Contact Us</h2>
If you have any questions or concerns regarding this privacy policy or the Illuminate app, please contact us at info.illuminateapp@gmail.com.
</p>

<p class='text-center' style='padding-top: 40px; font-size: 3rem;'><strong>Thank you for using Illuminate!</strong></p>
</div>
</div>
</div>
