<div class="container-fluid">
<div style='margin: 40px auto; width: 60vw'>
<h1 class="text-center m-3">Terms and Conditions</h1>
<p class="text-justify">
Welcome to <strong>Illuminate!</strong>
Our app was thoughtfully designed to support visually impaired users by providing them with the tools they need to make informed purchasing decisions.
With Illuminate, you can easily scan products, receive audio feedback, and save them to your favorites for easy access.
Our app  includes a helpful assistance feature that ensures you can always get in touch with the store you're in.
We're here to make your shopping experience easier and more enjoyable.
By using this app, you agree to the terms and conditions listed below.
</p>

<div class="text-justify py-4">
<h2>1. User Account and Information</h2>
<p>
To use the Illuminate app, you must create an account using either your Google or Facebook login credentials, or your email address and a chosen password. By doing so, you agree to provide accurate and current information about yourself, and you are solely responsible for maintaining the confidentiality of your login credentials. The app will collect and store your email address for the purpose of your account, and it will not be shared or used for any marketing purposes.
</p>

<h2 style='padding-top: 40px'>2. Privacy Policy</h2>
<p>Your privacy is important to us, and we have implemented measures to protect your personal information. Our Privacy Policy explains in detail how we collect, use, and disclose information that we obtain from users. By using the Illuminate app, you agree to our Privacy Policy.
</p>

<h2 style='padding-top: 40px'>3. Use of the App</h2>
<p>You may only use the Illuminate app for lawful purposes and in accordance with these terms and conditions. You may not use the app in any manner that could damage, disable, overburden, or impair any of our servers or networks. You may not attempt to gain unauthorized access to any part of the app, other user accounts, or any other systems or networks connected to the app.
</p>

<h2 style='padding-top: 40px'>4. Intellectual Property</h2>
<p>The content and materials used in the Illuminate app, including but not limited to text, graphics, images, logos, and software, are protected by copyright and other intellectual property laws. You may not copy, reproduce, distribute, modify, or create derivative works of any part of the app without our prior written consent.
</p>

<h2 style='padding-top: 40px'>5. Disclaimer of Warranties</h2>
<p>The Illuminate app is provided on an "as is" and "as available" basis, without warranties of any kind, express or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, or non-infringement. We do not warrant that the app will be error-free, uninterrupted, or free from viruses or other harmful components.
</p>

<h2 style='padding-top: 40px'>6. Limitation of Liability</h2>
<p>To the fullest extent permitted by law, we will not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use or inability to use the Illuminate app, including but not limited to damages for loss of profits, data, or other intangible losses.
</p>

<h2 style='padding-top: 40px'>7. Changes to Terms and Conditions</h2>
<p>We may update these terms and conditions at any time, without notice. Your continued use of the app after any changes to the terms and conditions constitutes your acceptance of those changes.
</p>

<h2 style='padding-top: 40px'>8. Governing Law</h2>
<p>These terms and conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which the app is used, without regard to its conflict of law provisions.
</p>

<h2 style='padding-top: 40px'>9. Contact Us</h2>
If you have any questions or concerns regarding these terms and conditions or the Illuminate app, please contact us at support@illuminateapp.com.
</p>

<p class='text-center' style='padding-top: 40px; font-size: 3rem;'><strong>Thank you for using Illuminate!</strong></p>
</div>
</div>
</div>
