        <p class="sr-only">Your position was detected successfully..</p>
<div id="map" style="width: 100vw; height: 100vh;"
  data-controller="map"
  data-map-api-key-value="<%= ENV['GOOGLE_MAP_API_KEY'] %>">
</div>
