<div class="container">
  <div id="" class="errorpage">
    <h1 >Something went wrong</h1>
    <h2 class="text-center">Would you like to try again or ask for assistance?</h2>
    <div class='d-flex'>
   <%= link_to "Try Again", new_product_path, class: "btn btn-dark rounded-sm", style: 'margin-right: 5px;' %>
   <%= link_to "Call for Assistance", "#", class: "btn btn-dark rounded-sm ml-4", style: 'margin-left: 5px;' %>
  </div>

  </div>
</div>
