<div class="container">
  <div id="error-page" class="d-flex flex-column align-items-center">
    <h1 class="text-center">Something went wrong</h1>
    <h2 class="fw-light text-center">Would you like to try again or ask for assistance?</h2>
  </div>
  <div class='d-flex'>
   <%= link_to "Try Again", new_product_path, class: "btn btn-primary", style: 'margin-right: 1vw;' %>
   <%= link_to "Call for Assistance", products_assistance_path, class: "btn btn-primary", style: 'margin-left: 1vw;' %>
  </div>
</div>
