
<div class="container" data-controller="barcode-reader" aria-label='The scanner is active. Place a product in front of your camera and turn it slowly to allow your phone to detect it.'>
  <section class="container" id="scanner-content">
    <div id="video-container">
      <video id="video"></video>
    </div>
  </section>

  <div class="search-container">
    <h4 id="scan-info" class="animate__animated animate__flash animate__slower animate__infinite" aria-label='Scanning in progress.'>
        <i class="fa-solid fa-qrcode"></i><br/>Scanning</h4>
        <p class="sr-only">Place the product in front of the camera and rotate it slowly to find the QR code.</p>
        <p class="sr-only">If no product is found, you can call for assistance using the button below.</p>
<%= link_to "Call for Assistance", products_assistance_path, class: "btn btn-dark rounded-3 mt-2 visually-hidden", style: 'margin-left: 1vw;' %>



    <%= form_with url: search_products_path, method: :get, local: true, id: "barcode-form" do %>
    <div class="form-input d-flex flex-column align-items-center">
      <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-3" %>
      <%= submit_tag "Search", class: "btn btn-dark rounded-3 mt-2" %>

      <% end %>

    </div>
  </div>
</div>
