<div class="container" data-controller="barcode-reader">

   <section class="container" id="scanner-content">
      <%# <div>
        <a class="button" id="startButton">Start</a>
        <a class="button" id="resetButton">Reset</a>
      </div> %>

      <div class="video-container">
        <div id="sourceSelectPanel" style="display:none">
          <label for="sourceSelect">Change video source:</label>
          <select id="sourceSelect" style="max-width:400px">
          </select>
        </div>
        <video id="video"></video>
        <div class="text-instructions">
        <h1 class="header">illuminate</h1>
        <p>Tap the screen to scan a product</p>
        </div>
      </div>
      <pre><code id="result"></code></pre>
    </section>

    <%# This is the barcode form. Not hiding it yet so that we can see what's going on. Will be hidden from view. %>
    <div class="search-container">
      <%= form_with url: search_products_path, method: :get, local: true, id: "barcode-form" do %>
      <div class="form-input d-flex flex-column align-items-center">
        <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-3" ,
            placeholder: "Enter the barcode" %>
        <%= submit_tag "Search", class: "btn btn-dark rounded-3 mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
