
<div class="container" data-controller="barcode-reader">
  <section class="container" id="scanner-content">
    <div id="video-container">
      <video id="video"></video>
    </div>
  </section>

  <div class="search-container">
    <%= form_with url: search_products_path, method: :get, local: true, id: "barcode-form" do %>
    <div class="form-input d-flex flex-column align-items-center">
      <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-3" %>
      <%= submit_tag "Search", class: "btn btn-dark rounded-3 mt-2" %>
      <% end %>
    </div>
  </div>
</div>
