<div class="container py-5">
  <h1 class="py-4">My Favorites</h1>
  <div class="favorite-cards">
    <% if @products.any? %>
      <% @products.each do |product| %>
       <%= render 'shared/card', product: product %>
      <% end %>
    <% else %>
      <p>You haven't favorited any products yet.</p>
    <% end %>
  </div>
</div>
