<div class="container">
  <h1>User Favorites</h1>
  <% @products.each do |product| %>
    <div class="card rounded-3" style="width: 20rem;">
      <img src="<%= product.image_url %>" class="card-img-top" alt="<%= product.alt_text %>">
      <div class="card-body">
        <div class="card-title fs-5"><b><%= product.name.titleize %></b></div>
        <div class="card-subtitle"><%= product.brand.titleize %></div>
      </div>
    </div>
  <% end %>
</div>
